/* Wrapper to center the whole layout on desktop */
.wrapper {
  height: 100vh;
}

/* Desktop only */
@media (min-width: 768px) {
  .wrapper {
    width: 60%;
    margin: 0 auto;
    background-color: #fff; /* Ensure white background */
  }

  header, footer, .container {
    width: 100%; /* Confine to wrapper */
  }
}
