body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  padding: 20px;
}

header.main-header {
  padding: 3rem 1rem;
  text-align: center;
}

.tech-header-bg {
  background: #1a1a1a;
  color: white;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #333;
  color: #fff;
  margin-top: 40px;
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
